[alias]
	st = status
	co = checkout
	p = push
	f = fetch
	pul = "!current_branch=$(git rev-parse --abbrev-ref HEAD); \
            echo 'Fetching and fast-forwarding current branch:' $current_branch; \
            git fetch origin $current_branch && \
            git merge --ff-only origin/$current_branch"
[push]
	autoSetupRemote = true
