[alias]
	st = status
	co = checkout
	p = push
	f = "!f() { \
        if [ -z \"$1\" ]; then \
            current_branch=$(git rev-parse --abbrev-ref HEAD); \
            echo 'Fetching current branch:' $current_branch; \
            git fetch origin $current_branch; \
        else \
            echo 'Fetching new remote branch and checkout:' $1; \
            git fetch origin $1:$1; \
            git checkout $1; \
        fi; \
    }; f"
	pul = "!current_branch=$(git rev-parse --abbrev-ref HEAD); \
            echo 'Fetching and fast-forwarding current branch:' $current_branch; \
            git fetch origin $current_branch && \
            git merge --ff-only origin/$current_branch"
[push]
	autoSetupRemote = true
